
<head>

        <%- include('../includes/head.ejs') %>
        </head>
        
        <body>
        <%- include('../includes/navigation') %>
        <main>
            <p>Nothing there</p>
        </main>
            
        </body>